<div class="dashboard-container">
  <div class="main-container flex-fill overflow-auto">
    <div class="">
      <div class="page-title">
        <span>Invoices</span>

        <div class="d-flex gap-2">
          <input
            type="text"
            class="search"
            placeholder="Invoice No..."
            (input)="onSearchOrderNoInput($event)"
          />
          <button class="top-action-btn" (click)="refreshMyOrders()">
            <i class="fa-solid fa-arrows-rotate"></i>
          </button>
          <button class="top-action-btn" (click)="exportSalesInvoicToExcel()">
            <i class="fa-solid fa-download"></i>
          </button>
        </div>
      </div>
    </div>

    <div
      *ngIf="!isInvoicesLoading; else loader"
      class="flex-fill orders-table-container mt-3"
    >
      <table class="orders-table w-100">
        <thead>
          <tr>
            <th>#</th>
            <th>Branch</th>
            <th>Invoice No.</th>
            <th class="text-center">Date</th>
            <th class="text-center">Item Count</th>
            <th class="text-center">Quantity</th>
            <th class="text-end">Net Value</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let sin of pagedInvoices; let i = index">
            <tr
              class="align-middle"
              [ngClass]="{
              'primary-row': isOpen(i),
            }"
            >
              <td>{{ i + 1 }}</td>
              <td>
                <span>{{ sin.SlmBrnName }}</span>
              </td>
              <td>
                <div class="order-number-wrapper">
                  <i class="bi bi-file-text"></i>
                  <span class="so-number">{{ sin.SlmVno }}</span>
                </div>
              </td>
              <td class="text-center text-nowrap">
                <span>{{ sin.SlmVdate | date : "dd MMM yyyy" }}</span>
              </td>
              <td class="text-center">
                <span>{{ sin.SlmItems }}</span>
              </td>
              <td class="text-center">
                <span>{{ sin.SlmQty }}</span>
              </td>
              <td class="text-end">
                <span>{{
                  sin.SlmNetAmt | currency : "INR" : "symbol" : "1.2-2"
                }}</span>
              </td>
              <td class="actions-container">
                <button
                  class="action-btn"
                  type="button"
                  (click)="toggleDetails(i)"
                  data-bs-toggle="collapse"
                  [attr.aria-expanded]="isOpen(i)"
                  [attr.data-bs-target]="'#collapse' + i"
                  [attr.aria-controls]="'collapse' + i"
                >
                  <i
                    class="bi"
                    [ngClass]="{
                      'bi-eye-fill': !isOpen(i),
                      'bi-eye-slash-fill': isOpen(i)
                    }"
                  ></i>
                </button>
                <button class="action-btn">
                  <i class="bi bi-printer-fill"></i>
                </button>
                <div class="action-dropdown">
                  <button
                    class="action-btn"
                    type="button"
                    id="dropdownMenuButton"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="bi bi-three-dots"></i>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a
                        class="dropdown-item"
                        (click)="
                          exportInvoiceToExcel(
                            fetchedInvoices.get(i) || [],
                            sin.SlmVno,
                            i
                          )
                        "
                      >
                        <i class="bi bi-file-earmark-spreadsheet me-2"></i>
                        Export
                      </a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>

            <tr class="collapse-row">
              <td colspan="10" [ngClass]="{ 'row-open': isOpen(i) }">
                <div [id]="'collapse' + i" class="collapse collapse-container">
                  <div *ngIf="fetchedInvoices.get(i); else loadingOrders">
                    <div class="mb-3 mx-4">
                      <div
                        class="d-flex justify-content-between align-items-center px-1 py-3"
                      >
                        <h6
                          class="mb-0 fw-bold text-center"
                          style="color: var(--color-blue)"
                        >
                          <i class="bi bi-receipt-cutoff me-2"></i>Order Summary
                        </h6>
                        <span
                          class="badge"
                          style="background-color: var(--color-blue)"
                        >
                          {{ fetchedInvoices.get(i)?.length }} items
                        </span>
                      </div>

                      <div class="">
                        <table class="w-100 collapse-table">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Item Code</th>
                              <th>Item Name</th>
                              <th>Unit</th>
                              <th class="text-center">Quantity</th>
                              <th class="text-center text-nowrap">
                                Base Quantity
                              </th>
                              <th class="text-end">Rate</th>
                              <th class="text-end">Gross</th>
                              <th class="text-end">Discount</th>
                              <th class="text-center">GST</th>
                              <th class="text-end">Net</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr
                              *ngFor="
                                let item of fetchedInvoices.get(i);
                                let j = index
                              "
                            >
                              <td>{{ j + 1 }}</td>
                              <td>{{ item.ItmCode }}</td>
                              <td class="text-nowrap">{{ item.ItmName }}</td>
                              <td>{{ item.UnitName }}</td>
                              <td class="text-center">
                                {{ item.Qty }}
                              </td>
                              <td class="text-center">
                                {{ item.BaseQty }}
                              </td>
                              <td class="text-end">
                                {{ item.Rate | currency : "INR" }}
                              </td>
                              <td class="text-end">
                                {{ item.GrossAmt | currency : "INR" }}
                              </td>
                              <td class="text-end">
                                {{ item.DisAmt | currency : "INR" }}
                              </td>
                              <td class="text-center">{{ item.GstName }}</td>
                              <td class="fw-semibold text-success text-end">
                                {{ item.Amount | currency : "INR" }}
                              </td>
                            </tr>
                          </tbody>
                          <thead>
                            <tr
                              class="text-end"
                              style="background-color: #e6f9e7"
                            >
                              <th colspan="4" class="text-center">Total</th>
                              <th class="text-center">
                                {{ getTotalQty(fetchedInvoices.get(i) || []) }}
                              </th>
                              <th class="text-center">
                                {{
                                  getTotalBaseQty(fetchedInvoices.get(i) || [])
                                }}
                              </th>
                              <th>
                                {{
                                  getTotalRate(fetchedInvoices.get(i) || [])
                                    | currency : "INR"
                                }}
                              </th>
                              <th>
                                {{
                                  getTotalGrossAmount(
                                    fetchedInvoices.get(i) || []
                                  ) | currency : "INR"
                                }}
                              </th>
                              <th>
                                {{
                                  getTotalDiscountAmount(
                                    fetchedInvoices.get(i) || []
                                  ) | currency : "INR"
                                }}
                              </th>
                              <th></th>
                              <th>
                                {{
                                  getTotalAmount(fetchedInvoices.get(i) || [])
                                    | currency : "INR"
                                }}
                              </th>
                            </tr>
                          </thead>
                        </table>
                      </div>
                    </div>
                  </div>
                  <ng-template #loadingOrders>
                    <div class="d-flex justify-content-center py-4">
                      <div
                        class="spinner-border spinner-border-sm text-primary"
                        role="status"
                      ></div>
                    </div>
                  </ng-template>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <div
        class="d-flex align-items-center justify-content-center"
        style="height: 95%"
        *ngIf="pagedInvoices.length == 0"
      >
        <div
          class="d-flex flex-column align-items-center justify-content-center"
        >
          <i class="bi bi-file-earmark-text-fill fs-2"></i>
          <span>No records found</span>
          <small>There is no Sales Order created yet.</small>
        </div>
      </div>
    </div>

    <ng-template #loader>
      <div class="loaderContainer">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <p class="text-center">Getting orders...</p>
      </div>
    </ng-template>
  </div>
  <div *ngIf="salesInvoice.length >= 1" class="footer-container">
    <div>
      <label for="pageSize">Items per page:</label>
      <select
        id="pageSize"
        class="form-select w-auto d-inline-block ms-2"
        [(ngModel)]="pageSize"
        (change)="currentPage = 1; paginate()"
      >
        <option *ngFor="let size of pageSizeOptions" [value]="size">
          {{ size }}
        </option>
      </select>
    </div>
    <nav>
      <ul class="pagination m-0">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <button class="page-link" (click)="prevPage()">Previous</button>
        </li>
        <li class="page-item disabled">
          <span class="page-link">
            Page {{ currentPage }} of {{ totalPages }}
          </span>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <button class="page-link" (click)="nextPage()">Next</button>
        </li>
      </ul>
    </nav>
  </div>
</div>
