<section id="profile-section">
  <div class="pb-3">
    <h3 class="mb-0">Portal Configuration</h3>
    <p class="mb-0">Manage portal settings and features</p>
  </div>

  <form
    class="row gap-2"
    (ngSubmit)="onSubmit(portalSettingForm)"
    #portalSettingForm="ngForm"
  >
    <div class="col-12">
      <div class="row py-3 px-2 cards">
        <h5 class="mb-3"><i class="fas fa-cogs me-2"></i>Appearence</h5>
        <div class="col-12 col-md-6">
          <div class="card p-2">
            <label class="form-label fw-bold mb-3">
              <i class="bi bi-palette-fill me-2"> </i>Theme
            </label>
            <div class="d-flex gap-3">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="theme"
                  id="lightThemeOption"
                  [(ngModel)]="selectedTheme"
                  [value]="'light-theme'"
                />
                <label class="form-check-label" for="themeOption">
                  Light
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="theme"
                  id="darkThemeOption"
                  [(ngModel)]="selectedTheme"
                  [value]="'dark-theme'"
                />
                <label class="form-check-label" for="themeOption"> Dark </label>
              </div>
            </div>
            <p class="small mt-3 mb-0">
              Choose how the side menu behaves on desktop view
            </p>
          </div>
        </div>
        <div class="col-12 col-md-6 mt-3 mt-md-0">
          <div class="card p-2">
            <label class="form-label fw-bold mb-3">
              <i class="fas fa-columns me-2"></i>Side Menu Style
            </label>
            <div class="d-flex gap-3">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="sideMenuStyle"
                  id="shrink"
                  [(ngModel)]="sideNavStyle"
                  [value]="'shrink'"
                />
                <label class="form-check-label" for="shrinkOption">
                  Shrink
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="sideMenuStyle"
                  id="overlay"
                  [(ngModel)]="sideNavStyle"
                  [value]="'overlay'"
                />
                <label class="form-check-label" for="overlayOption">
                  Overlay
                </label>
              </div>
            </div>
            <p class="small mt-3 mb-0">
              Choose how the side menu behaves on desktop view
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="py-2 col-12 cards d-flex flex-column justify-content-center align-items-center"
    >
      <button type="submit" class="btn btn-primary">
        <i class="fas fa-save me-2"></i>Save Configuration
      </button>
      <small class="d-block mt-2"
        >Changes may take up to 5 minutes to propagate</small
      >
    </div>
  </form>
</section>
