<section id="login-page" class="">
  <div class="w-100 d-flex justify-content-end p-2">
    <app-theme-toggle></app-theme-toggle>
  </div>
  <div class="container">
    <div class="logo-login">
      <img src="/assets/efacto.webp" alt="Logo" class="logo" />
      <span routerLink="/login"
        ><i class="fa-solid fa-right-from-bracket"></i>Login</span
      >
    </div>
    <span class="fs-4 fw-semibold" style="color: var(--color-blue)"
      >Forget Password?</span
    >
    <span class="login-content"
      >Enter the email address you used when you joined, we'll send you
      instruction to reset your password.</span
    >
    <form (submit)="onSubmit()" class="">
      <div class="form-group">
        <div class="input-field">
          <i class="icon-left fa-solid fa-envelope"></i>
          <input
            type="email"
            placeholder="Enter your email"
            [(ngModel)]="loginModel.email"
            #email="ngModel"
            name="email"
            require
          />
          <div *ngIf="email.touched && email.invalid" class="error-text">
            <div *ngIf="email.errors?.['required']">Email is required.</div>
            <div *ngIf="email.errors?.['email']">
              Please enter a valid email.
            </div>
          </div>
        </div>
      </div>
      <button type="submit">Send</button>
    </form>
    <div class="copy-right-body">
      <span>© BNG Infotech Private Limited</span>
    </div>
  </div>
  <div class="w-100 text-center py-2">
    <small class="" style="color: #727070">
      © 2025, BNG Pvt.Ltd. All Right Reserved.
    </small>
  </div>
</section>
